
    <div class="importlayer">
        <h3 class="title">Import</h3>
        <p class="topusertext">You can simply upload your desktop based Bitcoin wallet, no matter what client you have used, to our Coinseason web-wallet, so you won't need to download transaction chain anymore and will be able to operate your Bitcoins from any device and all over the world.</p>
        <div style="text-align: center;">
            <div>
                <input type="text" placeholder="Type or paste your Private Key here">

            </div>
            <p class="topusertext">or</p>
            <a href="#"  style="display: inline-block; text-align: center;"><img src="images/imortqr.svg"></a>
            <a href="#" class="impbutt buttonsstyle" >Import</a>
        </div>
    </div>
    <div class="exportlayer">
        <h3 class="title">Export</h3>
        <p class="topusertext">We provide great liberty options for all our users. If there any reasons you don't want to store your Bitcoin online, or want to transfer it to another person, you can download .json format wallet with Bitcoins and then import it to any web or desktop wallet.<br><br>To backup your entire wallet, you can download it here.<br>This wallet is encrypted and requires your password to unlock. <strong style="font-family: 'Open Sans Bold';">Do not forget your password.</strong> Write it down somewhere if you have to.</p>
        <div class="expbutts">
            <a href="#/backup/download" class="expbutt buttonsstyle">Encrypted</a>
            <a href="#" class="expbutt buttonsstyle">Not encrypted</a>
            <a href="#" class="expbutt buttonsstyle">Paper</a>
        </div>
    </div>
