<div class="footer">
	<div class="container">
		<a href="#" class="footerlogo"><img src="images/footerlogo.svg"/></a>
		<ul>
			<li>Coinseason</li>
			<li><a href="#">Store Bitcoins</a></li>
			<li><a href="#">Operate Bitcoins</a></li>
			<li><a href="#">Buy Bitcoins</a></li>
		</ul>
		<ul>
			<li>Resources</li>
			<li><a href="#">Basics</a></li>
			<li><a href="#">FAQ</a></li>
			<li><a href="#">Support</a></li>
		</ul>
		<ul>
			<li>About</li>
			<li><a href="#">About us</a></li>
			<li><a href="#">Press</a></li>
			<li><a href="#">Contacts</a></li>
		</ul>
		<div class="footerright">
			<span>Follow the</span>
			<a href="#"><img src="images/vk.svg"/></a>
			<a href="#"><img src="images/fb.svg"/></a>
			<a href="#"><img src="images/tw.svg"/></a>
			<a href="#"><img src="images/wr.svg"/></a>
			<span>© 2014 Coincosm</span>
		</div>
	</div>
</div>
