<div class="header">
    <div class="container">
        <a href="#/" class="logo"><img src="images/logo.svg"/></a>
        <div class="topms">
            <% if(coinpunk.wallet) { %>
            <div class="userid" id="ud">
                <span class="userid"><%- coinpunk.wallet.walletId %></span>
                <div class="usermenu">
                    <ul>
                        <li><a href="#/account/settings"><i class="fa fa-gear"></i> Account settings</a></li>
                        <li><a href="#/signout"><i class="fa fa-sign-out"></i> Sign out</a></li>
                    </ul>
                </div>
            </div>
            <% } %>
            <ul id="menu">
                <li><a href="#">Bitcoin</a>
                <li><a href="#">Our service</a>
                <li><a href="#">About us</a>
                <li><a href="#/buy">Buy Bitcoins</a>
                <li><a href="#">Support</a>
            </ul>
        </div>
    </div>
</div>
<script type="text/javascript">

    function DropDown(el) {
        this.ud = el;
        this.initEvents();
    }

    DropDown.prototype = {
        initEvents : function() {
            var obj = this;
            obj.ud.on('click', function(event){
                $(this).toggleClass('active');
                //event.preventDefault();
                event.stopPropagation();
            });
        }
    }

    $(function() {
        var ud = new DropDown($('#ud'));
        $(document).on('click', function() {
            $('#ud').removeClass('active');
        });
    });
</script>
