<div class="spacelayer top">
    <div class="container">
        <h1>Coincosm</h1>

        <h2>Buy & Operate Bitcoins</h2>

        <p>We provide the simplest full-cycle service for buying and operating Bitcoins.</br> Our company allows
            everyone to use the most cheap and fast method of buying Bitcoins. </br>Furthermore, you can use COINCOSM
            web-wallet to store, send and receive Bitcoins.</p>
        <!--<h3>It is simple and free.</h3>-->
        <div class="slbutt">
            <!--<input type="email">
            <input type="password">-->
            <a href="#/signin">Sign In</a>
            <a href="#/signup">Sign Up</a>
        </div>

        <div class="tcsignup">

        </div>
    </div>
</div>

<div class="content">
    <div class="bitcoin">
        <div class="container">
            <span class="title">Bitcoin</span>
            <blockquote>This may be the purest form of democracy the world has ever known, and I — for one — am thrilled
                to be here to watch it unfold.
                <cite>Paco Ahlgren</cite>
            </blockquote>
            <iframe src="https://www.youtube.com/embed/Um63OQz3bjo" allowfullscreen="" frameborder="0" height="370"
                    width="580" style="margin: 15px auto; display: block;"></iframe>


            <div class="gridcontainer clearfix">
                <div class="grid_3">
                    <div class="fmcircle_out">
                        <a href="#web">
                            <div class="fmcircle_in fmcircle_light">
                                <span>Low Fees</span><img src="images/mobile.svg" alt=""/>
                            </div>
                        </a>
                    </div>
                    <p>Bitcoin can be&nbsp;used at&nbsp;the same value anywhere in&nbsp;the world where Bitcoins are
                        authorized, thus becoming the first truly global currency.</p>

                </div>

                <div class="grid_3">
                    <div class="fmcircle_out">
                        <a href="#web">
                            <div class="fmcircle_in fmcircle_mid">
                                <span>Global</span><img src="images/globe.svg" alt=""/>
                            </div>
                        </a>
                    </div>
                    <p>Bitcoin is&nbsp;a&nbsp;digital currency that is&nbsp;designed for global commerce in&nbsp;the
                        modern age, with the ease of&nbsp;a&nbsp;credit card but without the high fees.</p>

                </div>

                <div class="grid_3">
                    <div class="fmcircle_out">
                        <a href="#web">
                            <div class="fmcircle_in fmcircle_dark">
                                <span>Protected</span><img src="images/lock.svg" alt=""/>
                            </div>
                        </a>
                    </div>
                    <p>The nature of&nbsp;Bitcoin means that, compared to&nbsp;credit cards or&nbsp;other financial
                        tools, your identity is&nbsp;safer from theft.</p>

                </div>

            </div>


            <!--<div class="smallblock">
                <h2><img src="images/mobile.svg" style="margin-left: -4px;"/>Mobile payments made easy</h2>
                <p>Bitcoin on&nbsp;mobiles allows you to&nbsp;pay with a&nbsp;simple two step scan-and-pay. No&nbsp;need to&nbsp;sign&nbsp;up, swipe your card, type a&nbsp;PIN, or&nbsp;sign anything. All you need to&nbsp;receive Bitcoin payments is&nbsp;to&nbsp;display the&nbsp;QR code in&nbsp;your Bitcoin wallet app and let your friend scan your mobile, or&nbsp;touch the two phones together.</p>
            </div>
            <div class="smallblock">
                <h2><img src="images/globe.svg"/> Fast international payments</h2>
                <p>Bitcoins can be&nbsp;transferred from Africa to&nbsp;Canada in&nbsp;10&nbsp;minutes. There is&nbsp;no&nbsp;bank to&nbsp;slow down the process, level outrageous fees, or&nbsp;freeze the transfer. You can pay your neighbors the same way as&nbsp;you can pay a&nbsp;member of&nbsp;your family in&nbsp;another country.</p>
            </div>
            <div class="smallblock">
                <h2><img src="images/lock.svg"/> Security and control</h2>
                <p>Bitcoin transactions are secured by&nbsp;military grade cryptography. Nobody can charge you money or&nbsp;make a&nbsp;payment on&nbsp;your behalf. So&nbsp;long as&nbsp;you take the required steps to&nbsp;protect your wallet, Bitcoin can give you control over your money and a&nbsp;strong level of&nbsp;protection against many types of&nbsp;fraud.</p>
            </div>-->


            <div class="lm"><a href="#" class="lm">Learn More</a></div>
        </div>
        <div class="linesep"></div>
    </div>
    <div class="whatwedo">
        <div class="container">
            <span class="title">Our service</span>

            <div class="block" id="store">
                <img src="images/Operate.png">

                <h1>Operate Bitcoins</h1>

                <p>One advantage of&nbsp;a&nbsp;web-based wallet is&nbsp;that you can access it&nbsp;from anywhere,
                    regardless of&nbsp;which device you are using. However, it&nbsp;also has a&nbsp;major disadvantage:
                    unless implemented correctly, it&nbsp;can put the organisation running the website in&nbsp;charge of&nbsp;your
                    private keys, essentially taking your bitcoins out of&nbsp;your control.</p>
            </div>
            <div class="block" id="sendreceive">
                <img src="images/Buy.png">

                <h1>Buy Bitcoins</h1>

                <p>Using our web-wallet you can easily send Bitcoins from our account to&nbsp;any user all around the
                    world, make purchases in&nbsp;online and real-world stores. On&nbsp;the other hand, you can receive
                    Bitcoins to&nbsp;your wallet, based on&nbsp;our service. We&nbsp;offer you simple and full
                    functionality to&nbsp;operate your money.</p>
            </div>


            <!-- <div class="block" id="buy" style="margin-bottom: 0;">
                     <img src="illustrations/clipboard.png"><h1>Simply buy</h1>
                        <p>We&nbsp;provide the most simple and affordable service for purchasing Bitcoins. Service is&nbsp;oriented for typical users and allows everyone to&nbsp;enter Bitcoin economic system of&nbsp;the future, with minimum fees. The biggest advantage, we&nbsp;propose our service for people all across the world.</p>
                 </div>-->


            <div class="lm"><a href="#" class="lm">Learn More</a></div>
        </div>
        <div class="linesep"></div>
    </div>
    <div class="whoweare">
        <div class="container">
            <span class="title">About us</span>
            <blockquote>First of all, I love your service. The website is clean and works great, it is very straight
                forward and transactions occur quickly and the fees are minuscule. Thanks!
                <cite>Dan</cite>
            </blockquote>
            <div class="smallblock">
                <a href="#"><img src="images/press/bloomberg-fa53b62ad83f9b65a02ccb9aac457a5c.png"/></a>

                <p>Bitcoin on&nbsp;mobiles allows you to&nbsp;pay with a&nbsp;simple two step scan-and-pay. No&nbsp;need
                    to&nbsp;sign&nbsp;up, swipe your card, type a&nbsp;PIN, or&nbsp;sign anything. All you need to&nbsp;receive
                    Bitcoin payments is&nbsp;to&nbsp;display the&nbsp;QR code in&nbsp;your Bitcoin wallet app and let
                    your friend scan your mobile, or&nbsp;touch the two phones together.</p>
            </div>
            <div class="smallblock">
                <a href="#"><img src="images/press/time-c9d3e9dd6fee2baa5c438e97701a27cd.png"/></a>

                <p>Bitcoins can be&nbsp;transferred from Africa to&nbsp;Canada in&nbsp;10&nbsp;minutes. There is&nbsp;no&nbsp;bank
                    to&nbsp;slow down the process, level outrageous fees, or&nbsp;freeze the transfer. You can pay your
                    neighbors the same way as&nbsp;you can pay a&nbsp;member of&nbsp;your family in&nbsp;another
                    country.</p>
            </div>
            <div class="smallblock">
                <a href="#"><img src="images/press/wsj-9908b0fe897b5187d80206f6839ca7e9.png"/></a>

                <p>Bitcoin transactions are secured by&nbsp;military grade cryptography. Nobody can charge you money or&nbsp;make
                    a&nbsp;payment on&nbsp;your behalf. So&nbsp;long as&nbsp;you take the required steps to&nbsp;protect
                    your wallet, Bitcoin can give you control over your money and a&nbsp;strong level of&nbsp;protection
                    against many types of&nbsp;fraud.</p>
            </div>

            <div class="lm"><a href="#" class="lm">Learn More</a></div>
        </div>
    </div>
</div>

<div class="spacelayer bottom">
    <div class="container">
        <div class="slbutt">
            <a href="#">Ready to start using Bitcoin</a> or still got questions?
        </div>
        <div class="contact">
            <span><a href="mailto:coinseason@email.com"><img src="images/mail.svg"/></a>coinseason@email.com</span>
            <span><a href="skype:coinseason?call""><img src="images/skype.svg"/></a>coinseason</span>
        </div>
    </div>
</div>

<div class="footer">
    <div class="container">
        <a href="#" class="footerlogo"><img src="images/footerlogo.svg"/></a>
        <ul>
            <li>Coinseason</li>
            <li><a href="#">Store Bitcoins</a></li>
            <li><a href="#">Operate Bitcoins</a></li>
            <li><a href="#">Buy Bitcoins</a></li>
        </ul>
        <ul>
            <li>Resources</li>
            <li><a href="#">Basics</a></li>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Support</a></li>
        </ul>
        <ul>
            <li>About</li>
            <li><a href="#">About us</a></li>
            <li><a href="#">Press</a></li>
            <li><a href="#">Contacts</a></li>
        </ul>
        <div class="footerright">
            <span>Follow the</span>
            <a href="http://vk.com/coincosm"><img src="images/vk.svg"/></a>
            <a href="https://www.facebook.com/coincosm"><img src="images/fb.svg"/></a>
            <a href="https://twitter.com/coincosm"><img src="images/tw.svg"/></a>
            <a href="#"><img src="images/wr.svg"/></a>
            <span>© 2014 Coincosm</span>
        </div>
    </div>
</div>