
    <div class="balance">
        <h3>You have</h3>
        <h3 class="btcbal"><span id="balance"></span> <i class="fa fa-bitcoin"></i></h3>
        <h3 class="usdbal"><span id="balanceExchange"></span> <i class="fa fa-usd"></i></h3>
    </div>
    <ul class="form">
        <li class="selected"><a class="myadresses" href="#/addresses/list"><i class="fa fa-briefcase"></i>My Addresses</a></li>
        <li><a class="send" href="#/tx/send"><i class="fa fa-arrow-right"></i>Send</a></li>
        <li><a class="request" href="#/request"><i class="fa fa-arrow-left"></i>Request</a></li>
        <li><a class="contactbook" href="#/contacts"><i class="fa fa-group"></i>Contacts Book</a></li>
        <li><a class="transactionhistory" href="#/dashboard"><i class="fa fa-list-ul"></i>Transaction History</a></li>
        <li><a class="importandexport" href="#/backup"><i class="fa fa-download"></i>Import and Export</a></li>
    </ul>
