<div class="container">
<h1 class="title">Sign In</h1>
<div id="errors" class="alert alert-error hidden">

</div>
<form id="signinform" class="authform" action="#" name="sf" onsubmit="coinpunk.controllers.accounts.signin(); return false;" autocapitalize="off">
    <label for="walletId">Email</label>
    <input type="text" id="walletId" autocorrect="off" autocapitalize="off" placeholder="Your email">
    <div class="form-group" id="signinPassword">
        <label for="password">Password</label>
        <input type="password" id="password" placeholder="Password">
    </div>

<!--<input type="checkbox"><label>Remember me</label>



    <label class="checkbox checked" for="checkbox2">
        <span class="icon"></span>
        <span class="icon-to-fade"></span>
        <input checked="checked" value="" id="checkbox2" type="checkbox">
        Remember Me
    </label>-->


    <a id="sninbtn" href="#" onclick="javascript:document.sf.submit()" class="buttonsstyle" role="submit"><i class="fa fa-sign-in"></i> Sign In</a>
    <!--<button type="submit" class="buttonstyle"><i class="fa fa-sign-in"></i> Sign In</button>-->

    <!--
    <p>New User?</p>
    <a href="#/signup" class="buttonstyle">Sign up</a>
    <a href="#/accounts/import">Import</a>
    -->
</form>
<!--    <script>
        $(function() {
            $('#sninbtn').on('click', function() {
                $("#signinform").submit();
            });
        });
    </script>-->
    <script>
        $(function() {
            $('a[role="submit"]').on('click', function() {
                $(this).parent('form').submit();
            });
        });
    </script> <!--Так можно сабмитить форму ссылкой-->
</div>