<!--<h2>Sent</h2>-->

<% if(data.tx.length == 0) {%>

  <h4>No transactions yet.</h4>

<% } else { %>

<!--
  <div class="visible-xs visible-sm">
    <% for(var i=0; i<data.tx.length; i++) { %>
      <hr>
      <div class="row" onclick="window.open('#/tx/details/<%- data.tx[i].hash %>','_self')">
        <div class="col-md-6">
          <strong><%- humaneDate(new Date(data.tx[i].time).toISOString()) %></strong>
          <span class="receivedExchangePrice addExchangePrice pull-right" style="color: #FE2E2E; margin-right: 10px; font-size: 12px; font-weight: bold"><%- data.tx[i].amount %> BTC</span>
        </div>
      </div>
      <div class="row" onclick="window.open('#/tx/details/<%- data.tx[i].hash %>','_self')">
        <div class="col-md-6">
          <div style="font-size: 10pt">
            <strong><%- coinpunk.wallet.getAddressName(data.tx[i].address) || data.tx[i].address %></strong>
          </div>
          <div><%- data.tx[i].confirmations%> confirmations</div>
        </div>
      </div>
    <% } %>
  </div>
-->


    <table class="transactionbook" cellpadding="" cellspacing="">
       <!-- <thead>
        <tr>
            <th class="firstcolumn">Transaction</th>
            <th>Amount</th>
            <th>Date</th>
        </tr>
        </thead>-->
      <tbody>

        <% for(var i=0; i<data.tx.length; i++) { %>
          <% 
            if(data.tx[i].type == 'receive')
              continue;
          %>
          
          <tr>
              <td class="firstcolumn" style="width: 540px;"><h5><i class="fa fa-arrow-left"></i> <%- coinpunk.wallet.getAddressName(data.tx[i].address) || data.tx[i].address %></h5>
                  <% if(data.tx[i].confirmations == 0) { %>
                  <i class="fa fa-times-circle"></i>
                  <% } else if(data.tx[i].confirmations < coinpunk.controllers.dashboard.minimumStrongSendConfirmations) { %>
                  <i class="fa fa-clock-o"></i>
                  <% } else { %>
                  <i class="fa fa-check-circle"></i>
                  <% } %>
                  <a href="#/tx/details/<%- data.tx[i].hash %>" class="chlink"><%- data.tx[i].hash %><!--a2a4ce74d5b7e8de14ede22da0bebd0a1ebb0390aa9bd7cef7dceb63b9b407cb--></a>

              </td>
              <td style="color: rgb(104, 104, 104);"><%- data.tx[i].amount %> <i class="fa fa-btc"></i></td>
              <td><time datetime="<%- new Date(data.tx[i].time).toISOString() %>"><%- humaneDate(new Date(data.tx[i].time).toISOString()) %></time></td>
            <!--<td><span class="addExchangePrice"><%- data.tx[i].amount %> BTC</span></td>
            <!--
              <td>
              <%- data.tx[i].confirmations %>

              <% if(data.tx[i].confirmations == 0) { %>
                <span class="label label-warning pull-right" rel="tooltip" data-toggle="tooltip" title="Transaction has not yet been confirmed. You cannot safely spend this yet because you cannot be confident it isn't a double spend until it has been confirmed by the blockchain.">Pending (Unconfirmed)</span>
              <% } else if(data.tx[i].confirmations < coinpunk.controllers.dashboard.minimumStrongSendConfirmations) { %>
                <span class="label label-info pull-right" rel="tooltip" data-toggle="tooltip" title="Transaction has had confirmations and is likely to be successful, but will be considered even more definitive after 6 confirmations. You may want to wait if you are transferring a large sum of money, just to be safe.">Soft Confirmed</span>
              <% } else if(data.tx[i].confirmations >= coinpunk.controllers.dashboard.minimumStrongSendConfirmations) { %>
                <span class="label label-success pull-right" rel="tooltip" data-toggle="tooltip" title="Transaction has at least 6 confirmations. This is the standard most Bitcoin services use for confirming large transfers.">Strongly Confirmed</span>
              <% } %>
            </td>
             -->
        <% } %>

      </tr>
      </tbody>
    </table>

<% } %>
